body{
	font-size:12px;
}
#header{
	float:left;
	position:absolute;	
	margin:10px 30px;
	z-index:1;
}
#backimg{
	float:left;
	position:absolute;	
	z-index:-1;
}
#divbody{
	float:left;
	margin:30px 0px;
}
#txtContent{
	margin:0 0;
}
.cl{
	margin:10px 0px;
}
.sel{
	background-color: #ccc;
}